doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sahibinden

    block stylesheets 
      link(rel="stylesheet", href="stylesheets/default.css")
      
  body 
    include header
    
    block content

    include footer

    block javascripts
      script(src="js/default.js")
      