extends layout

block append stylesheets
  link(rel="stylesheet", href="stylesheets/users.css")

block content
  div
    - var authorised = true

    div 
      if authorised
        h2 Welcome
      else
        a(href="/login") Please login

    ul
      each user in users
        li= user.name
  

block append javascripts 
  script(src="js/users.js")