:root {
  --white: #fff;
  --black: #000;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1000px;
  --blue: #00b0ff;
}

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

.container {
  background-color: antiquewhite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  width: 650px;
}

.messages {
  width: 100%;
  padding: 10px 10px 0 10px;
  height: 600px;
  background-color: #fff;
}

.messages > ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

.form {
  width: 100%;
  padding: 10px;
  background-color: coral;
  display: flex;
}

#form {
  display: flex;
  width: 100%;
}

#form input {
  width: 100%;
  height: 28px;
  font-size: 20px;
}

.messages > ul li {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--blue);
  align-self: flex-start;
  -webkit-animation-name: slideFromLeft;
  animation-name: slideFromLeft;
}

.messages > ul li.me {
  float: right;
  color: var(--dark);
  background-color: #eceff1;
  align-self: flex-end;
  -webkit-animation-name: slideFromRight;
  animation-name: slideFromRight;
}
