doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ChatApp
    link(rel="stylesheet", href="/css/index.css")
  body
    .container 
      .chat 
        .messages 
          ul 
            

        .form
          form#form
            input#message(autocomplete="off")


    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/main.js")